.topNav{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(207, 207, 207);
}
.topNavInner{
    width: 1200px;
    margin: 0 auto;
    text-align: left;
    height: 40px;
}
.topNavLogo{
    height: 40px;
    display: inline-block;
}
.topNavLogo img{
    height: 100%;
}
.topNavLinks{
    padding-left: 20px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;

}
.navItem{
    text-decoration: none;
    color: rgba(0, 12, 79, 0.8);
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    box-sizing: border-box;
    line-height: 40px;
    box-sizing: border-box;
    padding: 0px 20px;
    display: inline-block;
    border-bottom: 4px solid rgba(0, 0, 255, 0);
    transition: 500ms;
}
.bottomNavItem{
    display: block;
    padding-left: 10px;
}
.navItem:hover{
    color: rgba(0, 12, 79, 1);
    border-bottom: 4px solid rgb(0, 0, 115);
}
.bottomNav{
    text-align: left;
    margin-top: 80px;
    margin-bottom: 200px;
    padding-bottom: 40px;
}
.bnLinksSection{
    padding-top: 20px;
    display: inline-block;
    width: 33%;
}
